* {
	transition: all 0.2s;
}

.wrapper{
	/*position: relative;*/
	margin: 0 auto;
	max-width: 320px;
}

		/*Header*/
.header{
	background-image: url(../img/mount.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding-bottom: 67px;
	border-bottom: 1px solid #35273c;
	position: relative;
}

.logo{
	text-align: center;
	margin: 0 auto ;
	padding-top: 70px;
}

.first-menu-wrapper{
	position: relative;
	margin-top: 22px;
}

.first-menu-wrapper:hover .menu{
	display: block;
}

.first-menu-wrapper:hover .first-menu{
	opacity: 0;
}

.menu{
	position: relative;
	display: none;
	overflow: hidden;
}

.menu__item{
	float: left;
	margin-right: 10px;
}

.menu-mobile{
	border: 1px solid#051116;
	border-radius: 8px;
	background-color: rgba(54, 41, 62, 0.9);
	text-align: center;	
}

.menu-mobile .menu__item{
	margin-right: 0;
	float: none;
    border-top: 1px solid #523f5a;
    border-bottom: 1px solid #36283e;
    font-family: 'league_gothic_regular' tahoma, arial, sans-serif;

}
.menu-mobile .menu__item:hover{
	background: rgba (0, 0, 0, 0.3);
	background: #2b2332;
}

.menu__item:first-child{
	border-top: none;
}
.menu__item:last-child{
	border-bottom: none;
}

.menu__item__start .menu__link{
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	border-bottom: 2px solid #edbfff;
}

.first-menu,
.menu__link {
  text-decoration: none;  
  line-height: 39px;
  color: #FFFFFF; 
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  padding: 0 6px;
  font-family: 'league_gothic_regular' tahoma, arial, sans-serif;
}

.menu__link:hover{
	border-bottom: 2px solid #edbfff;
	/*display: block;*/
}

.first-menu-link{
	display: block;
	text-align: center;
}
.first-menu{
	text-decoration: none;
	padding-top: 1px;
	border-bottom: 2px solid #edbfff;
	color: #fff;
}

.sub-header-wrapper{
	margin-top: 117px; 	
	/*padding: 0 25px;*/
	position: relative;
	font-family: 'league_gothic_regular' ,tahoma, Arial, sans-serif;
}
.sub-header-wrapper-iteem{
	margin: 0 auto;
	padding: 0 60px;
}

.sub-header-wrapper-text1{
	font-size: 36px;
	color: white;

}
.sub-header-wrapper-text2{
	font-size: 17px;
	color: #edbfff;
}
	.text-lorem{
	display: none;
}



.sub-arrow{
	top: 50%;
	margin-top: -21px;
	height: 43px;
	width: 30px;
	position: absolute;
	background-image: url(../img/sliders.png); 
}
.arrow-left{
	left: 0;
}

.arrow-right{
	right: 0;
	background-position: -31px 0;
}

.four-button {
	/*bottom: -91px;*/
	margin-top: 80px;
	list-style: none;
	text-align: center;
	width: 100%;
}

.four-button li{
	width: 16px;
	height: 16px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	display: inline-block;
	cursor: pointer;
}

.four-button li .four-button-active:before{
	content: '';
	border-radius: 100%;
	display: block;
	height: 10px;
	width: 10px;
	margin: 2px;
	background-color: #fff;
}

/*SECTION-ABOUT--COMPANY*/   /*MAIN*/


.sub-header-wrapper2{
	margin-top: 0;
	padding: 0 20px;
}

 .sub-header-wrapper2 .sub-header-wrapper-item{
 	position: relative;
 	margin: 0 0 0 24px;
 	padding: 24px 30px 30px 36px;	
 }

.sub-header-wrapper2 .four-button {
	position: relative;
	bottom: auto;
	margin-top: 23px;
	margin-left: 12px;
}
.sub-header-wrapper2 .four-button li {
	border: 1px solid #e8e8e8;
	background-color: #fff;

}
.sub-header-wrapper2 .four-button li:before {
	background-image: -ms-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%);
background-image: -moz-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%);
background-image: -o-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(136,136,136,1)), color-stop(100, rgba(70,70,70,1)));
background-image: -webkit-linear-gradient(top, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%);
background-image: linear-gradient(to bottom, rgba(136,136,136,1) 0%, rgba(70,70,70,1) 100%);	
}

.sub-header-wrapper2 .sub-img{
	position: absolute;
	top: 18;
	left: -25px;
}

.sub-header-news-title{
	text-transform: uppercase;
	font-family: 'league_gothic_regular' ,Tahoma, Arial sans-serif;
	font-size: 24px;
	color: #454545;
	line-height: 24px;
}
.sub-header-news-title span{
	display: block;
	color: #edbfff;
	font-size: 24px;
}

.sub-header-wrapper2 .sub-header-news-text{
	font-family: 'Open Sans',Tahoma, Arial sans-serif;
  	font-weight: 400;
  	color: #454545;
  	margin-top: 5px;
  	line-height: 25px;
}

   /*MAIN*/

.main-main{
	padding-top: 65px;
	padding-bottom: 40px;
	border-bottom: 1px solid #12191f;
	background-color: background-image: -ms-linear-gradient(top, #745083 0%, #33253A 100%);
	background-image: -moz-linear-gradient(top, #745083 0%, #33253A 100%);
	background-image: -o-linear-gradient(top, #745083 0%, #33253A 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #745083), color-stop(100, #33253A));
    background-image: -webkit-linear-gradient(top, #745083 0%, #33253A 100%);
    background-image: linear-gradient(to bottom, #745083 0%, #33253A 100%);
}

.main{
	position: relative;
	margin: 0px 14px 22px;
	padding-left: 60px;
	position: relative;
	color: #e4e3e6;
	overflow: hidden;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1); 
	font-family: 'league_gothic_regular';
}

.main:before{
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	height: 31px;
	width: 34px;
	background-image: url(../img/sprites.png) ;
}

.main-company1:before{
	width: 30px;
}
.main-company2:before{
	width: 29px;
	background-position: -31px 0;
}
.main-company3:before{
	width: 25px;
	background-position: -61px 0;
}

.about-company{
	font-size: 24px;
	color: white;
	text-transform: uppercase;
}

.about-company-text{
	font-family: 'Open Sans', Tahoma, Arial,  sans-serif;
	font-size: 16px;
	line-height: 25px;
	font-weight: 100;
}
.about-link{
	display: table;
	float: right;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'league_gothic_regular', Tahoma, Arial, sans-serif; 
	font-size: 18px;
	margin-top: 15px;
}
.about-link:hover{
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

  /*ARTICLE*/

.personal{
	background-color: #f9f9f9; 
	padding-top: 70px;
	padding-bottom: 90px;
	border-bottom: 1px solid #e6e6e6;
}

.updates{
	margin-top: 50px;
}

.updates-item{
	position: relative;
	overflow: hidden;
	margin-bottom: 16px;
}

.updates-title{
	font-family: 'league_gothic_regular', Tahoma, Arial, sans-serif;
	font-size: 30px;
	color: #454545;
	margin-bottom: 20px;
}

.updates-img{
	margin-right: 17px;
	float: left;
}

.updates-undertitle{
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	font-weight: 900; 
	font-size: 16px;
}

.updates-text{
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	font-weight: lighter; 
	font-size: 16px;
}

.updates-link{	
	font-size: 18px;
	float: right;
	color: #454545;
	font-family: 'league_gothic_regular', Tahoma, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

/*SPONSORS*/

.sponsor-logos{
	padding-top: 50px;
	border-top: 1px solid #fefefe;
	position: relative;
	height: 405px;
}

.sponsor-img{
	display: block;
	width: 50%;
	text-align: center;
	float: left;
	margin-bottom: 57px;
}

/* PreFooter*/

	/*Footer*/
.footer{
	height: 200px;
	background-image: url(../img/footer480.jpg);
	background-position: top center;
	background-size: cover;
}

.menu__menu__footer{
	display: none;
}

.footer-design{
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	padding-top:  50px;
}

.footer-design-link{
	color: #fff;
	font-weight: bold;
	padding-top: 40px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	text-decoration: none;
}


@media screen and (min-width: 320px){
	.prefooter{
	display: none;
	}
}

@media screen and (min-width: 480px) {
   .wrapper{
		min-width: 480px;	
	}
	/*.logo{
	margin-left: 150px;
	}*/



	.logo{
	margin-top: -276px;
	

}
	.header{

	}


	/*Menu*/
	.ihone-link{
	height: 293px;
	width: 193px;
	position: absolute;
	float: right;
	display: block;
	top: -89px;
	right: 31px;
	background-image: url(../img/ipone480.png);
}
	.text-lorem{
	display: none;
}



	.sub-header-wrapper-item{
	background-color: #fff ;
}

	 .menu-mobile{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	}

	.menu__menu__footer{
	display: none;
	}

	.background{
	   background: rgba(0, 0, 0, 0.2);
	   height: 245px;
	   top: 202px;
	   position: relative;
	   display: block;
	}

	.four-button{
    margin-top: 158px;
    text-align: center;
	}

/*Sponsor-LOGOS*/
.sponsor-logos .wrapper{width: 320px;}

.sponsor-img{
	width: 33%;}

.sponsor-logos{
	height: 232px;
	background-color: #f9f9f9 ;
}


/*Prefooter*/
.prefooter {
	background-color: #ececec;
	padding: 100px 0 90px;
	display: block;
}

.section-pre{
	margin-bottom: 54px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

.section-pre-title{
	font-family: 'league_gothic_regular', Tahoma, Arial, sans-serif; 
	font-size: 24px;
	color: #454545;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.section-pre-text{
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
  	font-weight: 400;
	font-size: 16px;
	color: #787878;
	text-align: justify;
}

/*Footer-menu*/

.menu__menu__footer{
	display: block;
	padding-top: 45px;
}

.menu__menu__footer .menu__link{
    line-height: 15px;
    font-size: 11px;
	}
}

@media screen and (min-width: 768px){
	 .wrapper{
		min-width: 768px;	

	}
/*Header*/
 .header .wrapper{
	margin-top: -20px;
 }

	.background{
		top: 241px;
	   height: 400px;
	   position: relative;
	   display: block;
	}
.logo{
	padding-top: 29px;
	/*float: left;*/
	padding-left: 42px;
	text-align: left;
	margin-top: -371px;
	position: absolute;
}

.sub-header-wrapper-text1{
	font-size: 48px;
}

.sub-header-wrapper-text2{
	font-size: 24px;
}
.text-lorem{
	width: 250px;
	display: table;
	line-height: 24px;
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	font-weight: 100;
}
.first-menu-link{
	display: none;
}

.menu-mobile{
	display: block;
	position: relative;
	border: none;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0);

}
.menu-mobile .menu__item:hover{

	background: transparent;
}


.menu-mobile .menu__item{
	position: relative;
	float: left;
	border-bottom: none;
	border-top: none;
}

.menu__link{
	line-height: 1.405;
	font-family: 'league_gothic_regular', Tahoma, Arial, sans-serif;
	padding: 0 22px;
}

.menu__item__start .menu__link {
	border-bottom: none;
	background: none;
	text-shadow: 1px 1px 2px black;

}
.menu__item__start .menu__link:hover{
	border-bottom: 2px solid #edbfff;
	background-color: transparent;

}



 .sub-header-wrapper-iteem{
	margin-top: -133px;
    }


.first-menu-wrapper{
	margin-top: -260px;
	position: absolute;
	padding-left: 17px;
}

.ihone-link{
	height: 404px;
	width: 275px;
	position: absolute;
	float: right;
	display: block;
	top: -161px;
	right: 48px;
	background-image: url(../img/ipone-960.png);
	text-decoration: none;
}
.sub-arrow{

}


.four-button{
	text-align: center;
	left: 167px;
	position: relative;

}

/*.ihone-link {
	height: 300px;
	width: 300px;
	position: relative;
	float: right;
	display: block;
	top: -144px;
	right: -26px;
	background-image: url(../img/ipone-960.png);
	background-position: top center;
	background-repeat: no-repeat;
	
}
*/



/*MAIN*/
.main-main{
	height: 235px;
}

.main-company3, 
.main-company2,
.main-company1 {
	display: block;
    position: relative; ;
    float: left;
    width: 21%; 
}

/*Article*/

.sub-header-wrapper-item{
	background-color: #fff ;
}

/*Sponsor-LOGOS*/
.sponsor-img{
	width: 16%;
	text-align: justify;
	margin-bottom: 0;
}
.sponsor-logos{
	padding-top: 25px;
	height: 96px;
	background-color: #f9f9f9 ;
}

/*Personal*/
.updates,
.sub-header-wrapper2,
.sub-head-wr-it {
	display: block;
	position: relative;
    float: left;
    width: 350px;
}

.personal{
	height: 326px;
}

.updates{
	padding-top: 15px;
	margin-top: 0;
}

/*Footer*/
.prefooter{
	padding: 0;
	height: 392px;
	width: 100%;

}

.section-pre{
	display: block;
	position: relative;
    float: left;
    width: 200px;
    margin-bottom: 0;
    margin-top: 100px;
    margin-right: 50px;
}

.footer-design{
	float: right;
}

.menu__menu__footer .menu__link{
    line-height: 15px;
    font-size: 18px;
   
	}
}

@media screen and (min-width: 960px){
	 .wrapper{
		max-width: 960px;	
	}
/*Header*/
.menu-mobile{

}
.sub-arrow{
	margin-top: -50px;
}
.arrow-left{
	left: -231px;
}
.arrow-right{
    right: -251px;
    background-position: -31px 0;
}

.first-menu-wrapper{
	
	top: 320px;
	right: 450px;
}



/*Article-Personal*/
.sub-header-news-title span{
	display: inline-block;
}
.updates{
	padding-left: 50px;
}

.four-button-down{
	left: 0;
}


/*Sponsor-logos*/
.sponsor-img{

}


/*Prefooter*/
.section-pre{
    width: 269px;
    margin-right: 74px;
}
.section-pre:last-child{
	margin-right: 0;
}

/*Footer*/
.footer-design{
	padding-top: 0;
}

.footer{
	height: 111px;
