
.page{
	margin: 0 auto;
	width: 1200px;
	height: 1010px;
	font-family: Tahoma ,Arial serif;
	background-image: url(../img/bikes.png);
	background-size: 100%, 100%;
	background-repeat: no-repeat;
}

	/*Header*/
.header {
	height: 40px;
	background: #074c89;
	font-size: 14px;
	line-height: 40px;
}
.ola{
	float: right;
 	margin-right: 20px;
 	text-align: center;
 	width: 190px;
 	background: background-image: -ms-linear-gradient(top, #51B1DC 0%, #2E7AC4 100%);
background-image: -moz-linear-gradient(top, #51B1DC 0%, #2E7AC4 100%);
background-image: -o-linear-gradient(top, #51B1DC 0%, #2E7AC4 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #51B1DC), color-stop(100, #2E7AC4));
background-image: -webkit-linear-gradient(top, #51B1DC 0%, #2E7AC4 100%);
background-image: linear-gradient(to bottom, #51B1DC 0%, #2E7AC4 100%);	
} 	
 .ola a{
 	color: white;
}
.ola a:hover{
	text-decoration: none;

}
.flag{
	margin: 2px;
	height: 36px;
	float: right;
	width: 140px;
	text-align: right;
	padding: 0 17px 0 20px;
	background: url(../img/flag.png) 35px 6px no-repeat;
	border-left: 1px solid #56a2dc;
	line-height: 35px;

}
.flag a{
	text-decoration: none;
	color: white;
}
.flag a:hover{
	text-decoration: underline;
}
.menu{
	
	position: relative;
	height: 35px;
	margin: 0 auto;
	display: inline-block;
	float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	display: block; 
  	padding: 2px 10px; 
  	color: #4f9dd6;
  	text-decoration: none;
  	line-height: 36px;
}
.menu ul li a:hover{
	background: #4eabda;
	color: #ebf2f9;
}

/*Menu Center*/
.fixed-menu1{
	position: relative;
	height: 66px;
	width: 550px;
	left: 50%;
	top: 236px;
	margin-top: -33px;
	margin-left: -275px;
	background-color: rgba(0, 0, 0, 0.6);
}

.fixed-menu1 p{
	text-align: center;
	color: white;
	line-height: 66px;
	font-size: 24px;
	font-weight: lighter;
}
.fixed-menu2{
	position: relative;
	height: 535px;
	width: 550px;
	left: 50%;
	top: 50%;
	margin-top: -267px;
	margin-left: -275px;
	background-color: rgba(0, 0, 0, 0.65);
}

.fb-button::before {
	content:" ";
	position:relative;
}
.fb-button{
	display: block;	
	position: relative;
}

img{
	margin-top: 32px;
}
.fb-button a:hover{
	padding: -5px;
}

.fixed-menu2-inner{
	width: 275px;
	height: 500px;
	margin: 0 auto;
}

.ou-row{
    margin-top: 20px;
    position: relative;
}
.ou-row-inner{
    display: block;
    max-width: 100%;
    height: auto;
    color: #999999;
}

.row{
	height: 2px;
	background-color: #666666; 
	text-align: center;

}
.row span{
	color: #999999;
	position: relative;
	top: -0.6em;
	font-family: 'Tahoma', sans-serif;
	font-size:14px;
}
.input{
	position: relative;
	display: block;
}
input[type="text"]{
	margin-top: 18px;
	background-color: black;
	color: white;
	width:  253px;
    height: 29px;
    padding: 5px 0px 5px 20px;
    border: 1px  none;
    font-size:14px;
    font-family: Tahoma;
}
input[type="text"]:hover{	

-webkit-box-shadow: 0px 0px 10px 0px rgba(0,174,255,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,174,255,1);
box-shadow: 0px 0px 10px 0px rgba(0,174,255,1);
background-color: #1b5288;
display: block;	
}
span{
	color: white;
	font-family: 'Tahoma', sans-serif;
	font-size: 14px;

	
}
input[type="checkbox"] {
	margin-top:20px;
}
.checkbox{
line-height: 20px;
}

.button2 {
	background-color: #3a8ecd;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	margin: 10px 55px;
	border: 1px none;	
 }
	
.button2 a{
	font-family: 'Tahoma', sans-serif;
	text-decoration:none;
	font-weight: bold;
	font-size:14px;
	color:#fff;
}

/*Footer*/
.footer{
	position: absolute;
	height: 35px;
	width: 350px;
	font-family: 'Tahoma', sans-serif;
	text-decoration:none;
	font-size:11px;
	color:#fff;
	text-align: center;
	left: 94px;
	line-height: 1.5;
}


